<%= form_for @reply, html: { multipart: true, class: 'new_reply' } do |r| %>

  <%= r.hidden_field :ticket_id %>
  <div class="panel mt">
    <h3><%= t(:reply) %></h3>

    <%= r.collection_check_boxes :notified_user_ids, @reply.users_to_notify, :id, :email %>

    <%= r.text_area :content, label: false, class: 'tinymce' %>

    <%= label_tag 'attachment[]', t(:attach_files) %>
    <%= file_field_tag 'attachment[]', multiple: true, label: false %>
  </div>
  <p>
    <%= r.submit value: t(:send_reply), class: 'button regular radius' %>
  </p>
<% end %>

