<%= form_for @reply, html: { multipart: true, class: 'new_reply' } do |r| %>

  <%= r.hidden_field :ticket_id %>
  <dl class="tabs mt" data-tab>
    <dd><h3><%= t(:reply) %></h3></dd>
    <dd class="right"><a href="#preview"><%= t(:preview) %></a></dd>
    <dd class="active right"><a href="#edit"><%= t(:edit) %></a></dd>
  </dl>
  <div class="tabs-content panel">
    <div class="content active full" id="edit">
      <% if current_user.agent? && current_user.incoming_address.nil? %>
        <div class="row">
          <div class="medium-2 large-1 columns">
            <%= r.label :to, class: 'inline' %>
          </div>
          <div class="medium-10 large-11 columns">
            <%= r.text_field :to, label: false %>
          </div>
        </div>
        <div class="row">
          <div class="medium-2 large-1 columns">
            <%= r.label :cc, class: 'inline' %>
          </div>
          <div class="medium-10 large-11 columns">
            <%= r.text_field :cc, label: false %>
          </div>
        </div>
        <div class="row">
          <div class="medium-2 large-1 columns">
            <%= r.label :bcc, class: 'inline' %>
          </div>
          <div class="medium-10 large-11 columns">
            <%= r.text_field :bcc, label: false %>
          </div>
        </div>
      <% end %>

      <%= r.text_area :content, label: false %>
      <p><%= t(:parsed_markdown).html_safe %></p>

      <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
      <%= markdown.render(current_user.signature.to_s).html_safe %>

      <%= label_tag 'attachment[]', t(:attach_files) %>
      <%= file_field_tag 'attachment[]', multiple: true, label: false %>
    </div>
    <div class="content full" id="preview">
      <%= markdown.render(@reply.content.to_s).html_safe %>
      <%= markdown.render(current_user.signature.to_s).html_safe %>
    </div>
  </div>
  <p>
    <%= r.submit value: t(:send_reply), class: 'button regular radius' %>
  </p>
<% end %>

