<%= form_for @reply do |r| %>
	
  <%= r.hidden_field :ticket_id %>
  <%= r.label :to, 'To' %>
  <%= r.text_field :to %>

  <%= r.label :cc, 'Cc' %>
  <%= r.text_field :cc %>

  <%= r.label :bcc, 'Bcc' %>
  <%= r.text_field :bcc %>

  <p>Replies are parsed with <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.</p>

  <%= r.text_area :content %>
  <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
  <%= markdown.render(current_user.signature.to_s).html_safe %>

  <%= r.fields_for :attachments, Attachment.new, child_index: nil do |a| %>
    <%= a.label :file, 'Attach a file' %>
    <%= a.file_field :file %><br />
    <br />
  <% end %>

  <%= r.submit value: 'Send reply', class: 'button' %>
<% end %>

