<%= form_for @reply, html: { multipart: true, class: 'new_reply' } do |r| %>

  <%= r.hidden_field :ticket_id %>
  <div class="panel mt">
    <h3><%= t(:reply) %></h3>
    <% if current_user.agent? %>
      <div class="row">
        <div class="medium-2 large-1 columns">
          <%= r.label :to, class: 'inline' %>
        </div>
        <div class="medium-10 large-11 columns">
          <%= r.text_field :to, label: false %>
        </div>
      </div>
      <div class="row">
        <div class="medium-2 large-1 columns">
          <%= r.label :cc, class: 'inline' %>
        </div>
        <div class="medium-10 large-11 columns">
          <%= r.text_field :cc, label: false %>
        </div>
      </div>
      <div class="row">
        <div class="medium-2 large-1 columns">
          <%= r.label :bcc, class: 'inline' %>
        </div>
        <div class="medium-10 large-11 columns">
          <%= r.text_field :bcc, label: false %>
        </div>
      </div>
    <% end %>

    <%= r.text_area :content, label: false, class: 'tinymce' %>

    <%= label_tag 'attachment[]', t(:attach_files) %>
    <%= file_field_tag 'attachment[]', multiple: true, label: false %>
  </div>
  <p>
    <%= r.submit value: t(:send_reply), class: 'button regular radius' %>
  </p>
<% end %>

