<%= form_for @reply do |r| %>

  <%= r.hidden_field :ticket_id %>
  <h5 class="mt">Reply</h5>
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#edit">Edit</a></dd>
    <dd><a href="#preview">Preview</a></dd>
  </dl>
  <div class="tabs-content panel">
    <div class="content active full" id="edit">
      <div class="row collapse">
        <%= r.text_field :to, data: {placeholder: 'To'} %>
        <%= r.text_field :cc, data: {placeholder: 'Cc'} %>
        <%= r.text_field :bcc, data: {placeholder: 'Bcc'} %>

        <%= r.text_area :content %>
        <p>Replies are parsed with <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.</p>

        <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
        <%= markdown.render(current_user.signature.to_s).html_safe %>

        <%= r.fields_for :attachments, Attachment.new, child_index: nil do |a| %>
          <%= a.label :file, 'Attach file(s)' %>
          <%= a.file_field :file, multiple: true %>
        <% end %>
      </div>
    </div>
    <div class="content full" id="preview">
      <%= markdown.render(@reply.content.to_s).html_safe %>
      <%= markdown.render(current_user.signature.to_s).html_safe %>
    </div>
  </div>
  <p>
    <%= r.submit value: 'Send reply', class: 'button regular radius' %>
  </p>
<% end %>

