<%= form_for @reply, html: { multipart: true, class: 'new_reply' } do |r| %>

  <%= r.hidden_field :ticket_id %>
  <div class="panel mt">
    <h3><%= t(:reply) %></h3>

    <%= r.collection_check_boxes :notified_user_ids, @reply.users_to_notify, :id, :email %>

    <%
      content = '<p></p>' + current_user.signature.to_s
      reply_to = @reply.other_replies.order(:id).last

      if reply_to.nil?
        reply_to = @reply.ticket
      end

      content += '<br />'
      content += t(:on_date_author_wrote, author: reply_to.user.email,
          date: l(reply_to.created_at, format: :long))
      content += '<br />' + text_to_html(wrap_and_quote(reply_to.content))
    %>

    <%= r.text_area :content, label: false, class: 'tinymce',
        value: (@reply.content.nil? ? content : @reply.content) %>

    <%= label_tag 'attachment[]', t(:attach_files) %>
    <%= file_field_tag 'attachment[]', multiple: true, label: false %>
  </div>
  <p>
    <%= r.submit value: t(:send_reply), class: 'button regular radius' %>
  </p>
<% end %>

