<%= form_for @reply, remote: true do |r| %>
  <%= r.hidden_field :ticket_id, value: @ticket.id %>
  <p>Type your reply. The client will receive this reply via email.</p>
  <%= r.text_area :content, value: "\n\n--\n" + current_user.signature.to_s %>

  <%= r.fields_for :attachments, Attachment.new, child_index: nil do |a| %>
    <%= a.label :file, 'Attach a file' %>
    <%= a.file_field :file %><br />
    <br />
  <% end %>

  <%= r.submit value: 'Send reply', class: 'button' %>
<% end %>

