<dd>
  <a class="title" href="#reply-<%=reply.id%>">
    <h5><%= reply.user.email %> <small class="pull-right"><%= l reply.created_at, format: :short %></small></h5>
  </a>
  <div id="reply-<%=reply.id%>" class="<%= div_class %>">
    <ul class="inline-list text-secondary">
      <li><%= t(:notification_sent_to) %></li>
      <% reply.notified_users.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
    </ul>

    <% if reply.content_type == 'text' %>
      <% content = text_to_html(reply.content) %>
    <% else %>
      <% content = reply.content %>
    <% end %>

    <%= sanitize_html(content) %>

    <% if reply.attachments.size > 0 %>
      <hr />
      <ul class="block-grid three-up attachments">
        <%= render reply.attachments %>
      </ul>
    <% end %>
  </div>
</dd>
