<details>
  <summary class="pal bb">Reply by <strong><%= reply.user.email %></strong> <%= time_ago_in_words(reply.created_at.in_time_zone(current_user.time_zone)) %> <%= t(:ago) %></summary>
  <div id="reply-<%=reply.id%>" class="<%= div_class %> plxxl prl pbl ptl bg-white">
    <% if reply.content_type == 'html' %>
      <% content = reply.content %>
    <% else %>
      <% content = text_to_html(reply.content) %>
    <% end %>

    <%= sanitize_html(content) %>

    <% if reply.attachments.size > 0 %>
      <hr />
      <ul class="attachments">
        <%= render reply.attachments %>
      </ul>
    <% end %>

    <hr />
    <p class="no-m">
      <% if reply.notified_users.count > 0 %>
        <%= t(:notification_sent_to) %>    
        <% reply.notified_users.each do |user| %>
          <%= user.email %>
        <% end %>
      <% else %>
        <%= t(:no_notifications_sent) %>
      <% end %>
    </p>
  </div>
</details>