<li class="reply radius mb">
  <p class="no-m">
    <strong><%= reply.user.email %></strong>
    <small class="pull-right"><%= time_ago_in_words(reply.created_at) %> <%= t(:ago) %></small>
  </p>
  <div id="reply-<%=reply.id%>" class="<%= div_class %>">

    <% if reply.content_type == 'html' %>
      <% content = reply.content %>
    <% else %>
      <% content = text_to_html(reply.content) %>
    <% end %>

    <%= sanitize_html(content) %>

    <% if reply.attachments.size > 0 %>
      <hr />
      <ul class="block-grid three-up attachments">
        <%= render reply.attachments %>
      </ul>
    <% end %>

    <hr />
    <p class="no-m">
      <%= t(:notification_sent_to) %>    
      <% reply.notified_users.each do |user| %>
        <%= user.email %>
      <% end %>
    </p>

  </div>
</li>
