<%= form_for @user, html: { class: 'edit_user' } do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <h3>Email settings</h3>

      <p>
        <label><%= f.check_box :notify %> Receive notifications for new tickets</label>
      </p>

      <%= f.text_area :signature, rows: 5, cols: 20, label: false %>
    </div>

    <div class="large-6 columns end">

      <h3>Account settings</h3>
      <p>Only fill in these two fields if you want to modify your password.</p>

      <%= f.password_field :password %>

      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
  <hr />
      <%= f.submit 'Save', class: 'button radius' %>
    </div>
  </div>

<% end %>
