<% if f.object.file_file_size.to_i == 0 %>
  <%= f.file_field :file, label: false %>
<% else %>
  <strong style="display: block"><%= f.object.file_file_name %></strong>
  <span style="margi-bottom: 10px"><%= number_to_human_size(f.object.file.size) %> &middot; <%= link_to t(:download), f.object.file.url %></span>
  <label style="display: inline-block; float: right">
    <%= f.check_box :_destroy, label: false %>
    <%= t :delete %>
  </label>
<% end %>
