<%= form_for @ticket, url: tickets_url, html: { multipart: true } do |f| %>
  <% type = (!current_user.nil? && current_user.prefer_plain_text?) ? 'text' : 'html' %>

  <%= f.hidden_field :content_type, value: type %>

  <h3><%= t(:new_ticket) %></h3>

  <p>
    <%= f.text_field :from %>
  </p>

  <% if !current_user.nil? && current_user.agent? %>
    <p>
      <% blank = @email_addresses.count == 0 ? EmailAddress.default_email : nil %>
      <%= f.label :to_email_address_id, t('activerecord.attributes.ticket.to'), class: 'ptm' %>
      <%= f.collection_select :to_email_address_id, @email_addresses, :id, :formatted,
          include_blank: blank, label: false %>
    </p>
  <% end %>

  <p>
    <%= f.text_field :subject %>
  </p>
  <p>
    <%
      content = ''
      unless current_user.nil?
        if current_user.prefer_plain_text?
          content = "\n#{html_to_text current_user.signature}"
        else
          content = "<p></p>#{current_user.signature}"
        end
      end
    %>
    <%= f.text_area :content, class: ('tinymce' if type == 'html'),
        value: (f.object.content.nil? ? content : f.object.content) %>
  </p>

  <%= render 'attachments/form', f: f %>

  <% if can? :update, @ticket %>
    <div class="panel mb ptl pbl mbxl">
      <%=
      f.select :assignee_id,
                options_for_select(User.agents.map.each {|u| [u.email, u.id]},
                @current_user.id
                )
      %>
    </div>

    <div class="panel mb ptl pbl mbxl">
      <%= 
      f.select :priority, 
                options_for_select(
                                  Ticket.priorities.keys.each { |k| [t(k), k] },
                                  f.object.priority
                                  )
      %>
    </div>
  <% end %>

  <p>
    <%= f.submit class: 'button regular radius' %>
  </p>

<% end %>
