<%= form_for @ticket, url: tickets_url, html: { multipart: true } do |f| %>

  <div class="panel mt">
    <h3><%= t(:new_ticket) %></h3>

    <%= f.text_field :from %>

    <%= f.text_field :subject %>

    <%= f.text_area :content, class: 'tinymce' %>

  </div>
  <p>
    <%= f.submit class: 'button regular radius' %>
  </p>

<% end %>


