<%= form_for @ticket, html: { multipart: true } do |f| %>

  <dl class="tabs mt" data-tab>
    <dd><h3><%= t(:new_ticket) %></h3></dd>
    <dd class="right"><a href="#preview"><%= t(:preview) %></a></dd>
    <dd class="active right"><a href="#edit"><%= t(:edit) %></a></dd>
  </dl>
  <div class="tabs-content panel">
    <div class="content active full" id="edit">

        <%= f.text_field :subject %>

        <%= f.text_area :content %>
        <p><%= t(:parsed_markdown).html_safe %></p>

        <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
        <%= markdown.render(current_user.signature.to_s).html_safe %>

    </div>
    <div class="content full" id="preview">
      <%= markdown.render(@ticket.content.to_s).html_safe %>
      <%= markdown.render(current_user.signature.to_s).html_safe %>
    </div>
  </div>
  <p>
    <%= f.submit class: 'button regular radius' %>
  </p>

<% end %>


