<%= form_for @ticket, url: tickets_url, html: { multipart: true } do |f| %>

  <h3><%= t(:new_ticket) %></h3>

  <p>
    <%= f.text_field :from %>
  </p>

  <p>
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.text_area :content, class: 'tinymce' %>
  </p>
  <p>
    <%= f.submit class: 'button regular radius' %>
  </p>

<% end %>


