<div class="row">
  <div class="large-12 columns">


  <div class="row collapse mt">
    <div class="large-9 columns">
      <% if params[:q].present? %>
        <h2 class="filter-title">Tickets containing '<em><%= params[:q].to_s %></em>'</h2>
      <% else %>
        <h2 class="filter-title">Tickets</h2>
      <% end %>
    </div>
    <div class="large-3 columns">
      <%= form_tag tickets_path, method: :get do %>
        <%= text_field_tag :q, params[:q], placeholder: 'Search tickets' %>
      <% end %>
    </div>
  </div>

    <div class="icon-button-bar row collapse">
      <div class="large-1 columns">
        <a href="#" title="Select all tickets" class="fa fa-check-square-o icon-button mls"></a>
        <a href="#" title="Refresh" class="fa fa-refresh icon-button"></a>
      </div>
      <div class="large-6 columns">
        <a href="#" class="fa fa-user icon-button"></a>
        <a href="#" class="fa fa-flag icon-button"></a>
        <a href="#" class="fa fa-check icon-button"></a>
        <a href="#" class="fa fa-trash-o icon-button"></a>
      </div>
      <div class="pull-right">
        <em class="text-secondary">Tickets 1-3 of 3</em>
        <a href="#" class="fa fa-arrow-left icon-button"></a>
        <a href="#" class="fa fa-arrow-right icon-button"></a>
      </div>
      <div class="pull-right sort-by">
        <a href="#" data-dropdown="sort" class="tiny round dropdown button">Sort by</a><br>
        <ul id="sort" data-dropdown-content class="f-dropdown">
          <li><a href="#">Priority</a></li>
          <li><a href="#">Date received</a></li>
          <li><a href="#">Title</a></li>
        </ul>
      </div>

    </div>

    <table class="full zebra">
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr data-ticket-url="<%= ticket_url(ticket) %>">

            <% if can? :update, ticket %>

              <td><input type="checkbox" /></td>
              <td><a data-type="priority" data-id="<%= ticket.priority %>" href="#" class="priority-<%= ticket.priority %> fa fa-circle" title="Priority: <%= ticket.priority %>"></a></td>
              <td style="white-space:nowrap">
                <%= ticket.user.email %>
              </td>
              <td class="text-secondary table-nowrap">
                <% if !ticket.subject.nil? %>
                  <a href="<%= ticket_url(ticket) %>">
                    <% if ticket.replies.size > 0 %>                    
                      <span class="radius label" title="<%= ticket.replies.size %> replies"><%= ticket.replies.size %></span>
                    <% end %>
                    <%= ticket.subject %> - <span class="text-secondary"><%= ticket.content %></span>
                  </a>
                <% else %>
                  <%= link_to ticket do %>
                    <em>(No subject)</em>
                  <% end %>
                <% end %>
              </td>
              <td>
                <a data-type="status" data-id="<%= ticket.status %>" href="#" class="status-<%= ticket.status %>"></a>
              </td>
              <td>
                <% if ticket.assignee %>
                  <a data-type="assignee" data-id="<%= ticket.assignee.id %>" href="#"><i class="fa fa-user"></i> <%= ticket.assignee.email %></a>
                <% else %>
                  <a data-type="assignee" data-id="" href="#"><em>Unassigned</em></a>
                <% end %>
              </td>

            <% else %>

              <td><%= ticket.status %></td>
              <td><%= ticket.priority %></td>
              <td>
                <% if !ticket.subject.nil? %>
                  <%= link_to ticket.subject, ticket %>
                <% else %>
                  <%= link_to ticket do %>
                    <em>(No subject)</em>
                  <% end %>
                <% end %>
              </td>
              <td><%= ticket.user.email %></td>

              <td>
                <% if ticket.assignee %>
                  <%= ticket.assignee.email %>
                <% else %>
                  <em>Nobody</em>
                <% end %>
              </td>

            <% end %>

            <td class="nowrap text-right text-secondary">
              <%= l ticket.created_at, format: :short %>
            </td>
          </tr>
        <% end.empty? and begin %>
          <tr>
            <td colspan="100%">There are no tickets found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @tickets %>
  </div>
</div>

<%= render 'change_assignee_form', { ticket: Ticket.new } %>
<%= render 'change_status_form', { ticket: Ticket.new } %>
<%= render 'change_priority_form', { ticket: Ticket.new } %>
