<div class="row">
  <div class="large-12 columns">

    <% if params[:q].present? %>
      <h2 class="filter-title">Tickets containing '<em><%= params[:q].to_s %></em>'</h2>
    <% else %>
      <h2 class="filter-title">Tickets</h2>
    <% end %>

    <dl class="sub-nav filter">
      <% if current_user.agent? %>
        <dt>Assignee:</dt>

        <%= active_elem_if 'dd', params[:assignee_id].nil? do
            link_to 'All', tickets_path(params.merge(assignee_id: nil))
          end %>

        <%= active_elem_if 'dd', params[:assignee_id] == current_user.id.to_s do
            link_to 'Yours', tickets_path(params.merge(assignee_id: current_user.id))
          end %>

        <%= active_elem_if 'dd', params[:assignee_id] == '0' do
            link_to 'Unassigned', tickets_path(params.merge(assignee_id: 0))
          end %>
      <% end %>

      <dt>Status:</dt>

      <% @statuses.each do |status| %>

        <%= active_elem_if 'dd', @active_status == status do
          link_to status.name, tickets_path(params.merge(status_id: status.id))
        end %>

      <% end %>
    </dl>

    <table class="full">
      <thead>
        <tr>
          <th>Status</th>
          <th>Priority</th>
          <th width="50%">Title</th>
          <th>Sender</th>
          <th>Assigned to</th>          
          <th class="nowrap">Reported on</th>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr data-ticket-url="<%= ticket_url(ticket) %>">

            <% if can? :update, ticket %>

              <td>
                <a data-type="status" data-id="<%= ticket.status.id %>" href="#">
                  <%= ticket.status.name %></a>
              </td>
              <td>
                <a data-type="priority" data-id="<%= ticket.priority.id %>" href="#"><%= ticket.priority.name %></a>
              </td>
              <td>
                <% if !ticket.assignee %>
                  <span class="label alert round">Unassigned</span>
                <% elsif ticket.assignee == current_user %>
                  <span class="label success round">Yours</span>
                <% end %>
                <% if !ticket.subject.nil? %>
                  <%= link_to ticket.subject, ticket %>
                <% else %>
                  <%= link_to ticket do %>
                    <em>(No subject)</em>
                  <% end %>
                <% end %>
              </td>
              <td><%= ticket.user.email %></td>
              <td class="nowrap">
                <% if ticket.assignee %>
                  <a data-type="assignee" data-id="<%= ticket.assignee.id %>" href="#"><%= ticket.assignee.email %></a>
                <% else %>
                  <a data-type="assignee" data-id="" href="#"><em>Nobody</em></a>
                <% end %>
              </td>

            <% else %>

              <td><%= ticket.status.name %></td>
              <td><%= ticket.priority.name %></td>
              <td>
                <% if !ticket.subject.nil? %>
                  <%= link_to ticket.subject, ticket %>
                <% else %>
                  <%= link_to ticket do %>
                    <em>(No subject)</em>
                  <% end %>
                <% end %>
              </td>
              <td><%= ticket.user.email %></td>

              <td class="nowrap">
                <% if ticket.assignee %>
                  <%= ticket.assignee.email %>
                <% else %>
                  <em>Nobody</em>
                <% end %>
              </td>

            <% end %>

            <td>
              <%= l ticket.created_at, format: :short %>
            </td>
          </tr>
        <% end.empty? and begin %>
          <tr>
            <td colspan="100%">There are no <%= @active_status.as_adjective %> tickets for the requested assignee.</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @tickets %>
  </div>
</div>

<%= render 'change_assignee_form', { ticket: Ticket.new } %>
<%= render 'change_status_form', { ticket: Ticket.new } %>
<%= render 'change_priority_form', { ticket: Ticket.new } %>
