<div class="panel no-b pam">
  <div class="row collapse">
    <div class="medium-8 columns">
      <h3 class="filter-title no-m pts plm">

        <% if params[:q].present? %>
          <%= t(:count_tickets_containing, count: @tickets.count) %> '<em><%= params[:q].to_s %></em>'
        <% else %>
          <%= t(:count_tickets, count: @tickets.count) %>
        <% end %>

      </h3>
    </div>
    <div class="medium-4 columns">
      <%= form_tag tickets_path, method: :get, class: 'prm' do %>
        <%= hidden_field_tag(:assignee_id, params[:assignee_id]) unless params[:assignee_id].blank? %>
        <%= hidden_field_tag :status, params[:status] %>
        <div class="row collapse">
          <div class="small-7 columns">
            <%= text_field_tag :q, params[:q], class: 'no-m radius-tl radius-bl' %>
          </div>
          <div class="small-2 columns">
            <%= button_tag '<i class="fa fa-search"></i>'.html_safe, type: 'submit', class: 'secondary radius no-bl no-m button postfix' %>
          </div>
          <div class="small-1 columns"></div>
          <div class="small-2 column">
            <%= link_to tickets_path(params.merge(format: :csv)), class: 'secondary radius button no-m postfix' do %>
              <i class="fa fa-cloud-download" style="top:1px"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<table class="full">
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr data-ticket-url="<%= ticket_url(ticket) %>">

        <td class="priority-<%= ticket.priority %> table-nowrap">
          <span class="block"><%= ticket.user.email %></span>
          <% if !ticket.subject.nil? %>
            <a href="<%= ticket_url(ticket) %>">
              <strong><%= ticket.subject %></strong>
            </a>
          <% else %>
            <%= link_to ticket do %>
              <em><%= t(:no_subject) %></em>
            <% end %>
          <% end %>
        </td>

        <td>
          <% if ticket.replies.size > 0 %>
            <span class="secondary ba radius label ml" title="<%= ticket.replies.size %> <%= t(:replies) %>"><%= ticket.replies.size %></span>
          <% end %>
        </td>

        <td class="text-secondary table-nowrap">
          <% ticket.labels.viewable_by(current_user).each do |label| %>
            <%= render label %>
          <% end %>
        </td>
        <td class="nowrap text-right text-secondary">
          <span class="block"><%= l ticket.created_at.in_time_zone(current_user.time_zone), format: :short %></span>
          <% if can? :update, ticket %>
            <% if ticket.assignee %>
              <a data-assignee-id="<%= ticket.assignee.id %>" href="#"><i class="fa fa-user"></i> <%= ticket.assignee.email %></a>
            <% else %>
              <a data-assignee-id="" href="#"><em><%= t(:unassigned) %></em></a>
            <% end %>
          <% else %>
            <% if ticket.assignee %>
              <i class="fa fa-user"></i> <%= ticket.assignee.email %>
            <% else %>
              <em><%= t(:unassigned) %></em>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <% if @tickets.empty? %>
      <tr>
        <td colspan="100%"><%= t(:no_tickets_found) %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<% unless @tickets.empty? %>

  <div class="row">
    <div class="small-12 columns">
      <%= will_paginate @tickets %>
    </div>
  </div>

  <%= render 'change_assignee_form', { ticket: Ticket.new } %>

<% end %>
