<div class="panel no-b pam">
  <div class="row collapse">
    <div class="medium-8 columns">
      <h3 class="filter-title no-m pts plm">

        <% if params[:q].present? %>
          <%= t(:count_tickets_containing, count: @tickets.count) %> '<em><%= params[:q].to_s %></em>'
        <% else %>
          <%= t(:count_tickets, count: @tickets.count) %>
        <% end %>

      </h3>
    </div>
    <div class="medium-4 columns">
      <%= form_tag tickets_path, method: :get, class: 'prm' do %>
        <%= hidden_field_tag(:assignee_id, params[:assignee_id]) unless params[:assignee_id].blank? %>
        <%= hidden_field_tag :status, params[:status] %>
        <div class="row collapse">
          <div class="small-7 columns">
            <%= text_field_tag :q, params[:q], class: 'no-m radius-tl radius-bl' %>
          </div>
          <div class="small-2 columns">
            <%= button_tag '<i class="fa fa-search"></i>'.html_safe, type: 'submit', class: 'secondary radius no-bl no-m button postfix' %>
          </div>
          <div class="small-1 columns"></div>
          <div class="small-2 column">
            <%= link_to tickets_path(params.merge(format: :csv)), class: 'secondary radius button no-m postfix' do %>
              <i class="fa fa-cloud-download" style="top:1px"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section class="tickets">
  <ul class="inline-list bb no-m">
    <li class="pal no-m"><input type="checkbox" value="" name="" class="no-mb mts" data-toggle-all/></li>
    <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Assign</a></li>
    <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Close</a></li>
    <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Label</a></li>
    <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Prioritize</a></li>
    <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Remove</a></li>
  </ul>
  <% @tickets.each do |ticket| %>
    <div class="priority-<%= ticket.priority %> row ticket bb" style="height: 5em;" data-ticket-url="<%= ticket_url(ticket) %>">
      <div class="medium-4 plxxl v-middle columns">
        <input type="checkbox" value="" name="" class="no-mb"/>
        <p class="no-mb plm">
          <span class="block"><%= ticket.user.email %></span>
          <% if !ticket.subject.nil? %>
            <a href="<%= ticket_url(ticket) %>" class="text-default text-overflow block">
              <strong><%= ticket.subject %></strong>
            </a>
          <% else %>
            <%= link_to ticket do %>
              <em><%= t(:no_subject) %></em>
            <% end %>
          <% end %>
        </p>
      </div>
      <div class="medium-1 v-middle columns">
         <% if ticket.replies.size > 0 %>
          <span class="ba label right alt" title="<%= ticket.replies.size %> <%= t(:replies) %>"><%= ticket.replies.size %></span>
          <% else %>
          <span>&nbsp;</span>
        <% end %>
      </div>
      <div class="medium-4 v-middle columns">
        <% ticket.labels.viewable_by(current_user).each do |label| %>
          <%= render label %>
        <% end %>
      </div>
      <div class="medium-3 v-middle columns">
        <p class="no-mb text-right">
          <span class="block"><%= l ticket.created_at.in_time_zone(current_user.time_zone), format: :short %></span>
            <% if can? :update, ticket %>
              <% if ticket.assignee %>
                <a data-assignee-id="<%= ticket.assignee.id %>" href="#" class="text-default"><%= ticket.assignee.email %></a>
              <% else %>
                <a data-assignee-id="" href="#" class="text-default"><em><%= t(:unassigned) %></em></a>
              <% end %>
            <% else %>
              <% if ticket.assignee %>
                <%= ticket.assignee.email %>
              <% else %>
                <em><%= t(:unassigned) %></em>
              <% end %>
            <% end %>
        </p>
      </div>
    </div>
  <% end %>

  <% if @tickets.empty? %>
    <div class="ticket text-center">
      <p><%= t(:no_tickets_found) %></p>
    </div>
  <% end %>

  <% unless @tickets.empty? %>

    <div class="row">
      <div class="small-12 columns">
        <%= will_paginate @tickets %>
      </div>
    </div>

    <%= render 'change_assignee_form', { ticket: Ticket.new } %>

  <% end %>
</section>