<div class="row">
  <div class="twelve columns">
    <h2>Tickets</h2>
    <!--<dl class="sub-nav">
      <dt>Filter:</dt>
      <dd class="active"><a href="#">All</a></dd>
      <dd><a href="#">Yours</a></dd>
      <dd><a href="#">Assigned</a></dd>
      <dd><a href="#">Closed</a></dd>
      <dd><a href="#">Deleted</a></dd>
    </dl>-->
    <table class="full">
      <thead>
        <tr>
          <th width="50%">Title</th>
          <th>Sender</th>
          <th>Assigned to</th>          
          <th>Reported on</th>
        </th>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr data-ticket-url="<%= ticket_url(ticket) %>">
            <td>
              <% if !ticket.assignee %>
                <span class="label round">New</span>
              <% elsif ticket.assignee == current_user %>
                <span class="label success round">Yours</span>
              <% end %>
              <%= link_to ticket.subject, ticket %>
            </td>
            <td>
              <a href="mailto:<%= ticket.from %>"><%= ticket.from %></a>
            </td>
            <td class="assignee">
              <% if ticket.assignee %>
                <a data-assignee-id="<%= ticket.assignee.id %>" href="#"><%= ticket.assignee.email %></a>
              <% else %>
                <a data-assignee-id="" href="#">Nobody</a>
              <% end %>
            </td>
            <td>
              <%= l ticket.created_at, format: :short %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="assign-ticket" class="reveal-modal small">
  <h3>Assign this ticket to...</h3>

  <%= form_for Ticket.new, remote: true, method: :put do |f| %>
    <p>
      <%= f.select :assignee_id, options_from_collection_for_select(@users, 'id', 'email'), prompt: 'nobody' %>
    </p>
    <%= f.submit 'Assign', class: 'button' %>
  <% end %>

  <a class="close-reveal-modal">&#215;</a>
</div>
