<div class="row bb">
  <div class="medium-12 columns">
    <a class="pull-right mtm" href="#print" onclick="window.print()"><%= fa_icon 'print' %></a>
    <h3 class="mt">
      <%= !@ticket.subject.nil? ? @ticket.subject : '<em>(' + t(:no_subject) + ')</em>'.html_safe %>
    </h3>
    <h5 class="subheader text-secondary mb">
      <%= t(:ticket_by_at, email: @ticket.user.email, at: l(@ticket.created_at.in_time_zone(current_user.time_zone), format: :long)) %>
    </h5>
  </div>
</div>


<div class="row collapse">
  <div class="medium-9 columns br">
    <div class="ma">
      <% if @ticket.content.blank? %>
        (<%= t(:no_content) %>)
      <% else %>

        <div class="output">
          <% if @ticket.content_type == 'html' %>
            <% content = @ticket.content %>
          <% else %>
            <% content = text_to_html(@ticket.content) %>
          <% end %>

          <%= sanitize_html(content) %>
        </div>
      <% end %>

      <ul class="inline-list text-secondary">
        <li><%= t(:notification_sent_to) %></li>
        <% @ticket.notified_users.each do |user| %>
          <li><%= user.email %></li>
        <% end %>
      </ul>


      <% if @ticket.attachments.size > 0 %>
        <hr />
        <ul class="attachments">
          <%= render @ticket.attachments %>
        </ul>
      <% end %>
    </div>

    <% if @ticket.replies.size > 1 %>
      <div class="row replies">
        <div class="large-11 columns large-centered">
          <h3 class="mt"><%= t(:num_replies, count: (@ticket.replies.size - 1)) %></h3>
          <ul>

            <% count = 0 %>
            <% @ticket.replies.chronologically.each do |reply| %>

              <%# minus 2, because @reply is a new ticket that is counted as well... %>
              <% if @ticket.replies.size - 2 == count %>
                <% div_class = 'content active' %>
              <% else %>
                <% div_class = 'content' %>
              <% end %>

              <%= render reply, div_class: div_class %>


              <% count += 1 %>

            <% end %>

          </ul>
        </div>
      </div>
    <% end %>

    <% if can? :create, @reply %>
      <%= render 'replies/form' %>
    <% end %>

  </div>

  <div class="medium-3 columns">
    <div class="ma">
      <dl class="sticky">
        <dt><%= t(:status) %></dt>

        <dd>
          <% if can? :update, @ticket %>
            <a href="#" data-dropdown="statuses-<%= @ticket.id %>">
              <span class="fa fa-fw fa-<%= status_icon(@ticket.status) %>"></span>
              <%= t(@ticket.status) %>
            </a>
            <%= render 'status_dropdown', ticket: @ticket %>
          <% else %>
            <span class="fa fa-fw fa-<%= status_icon(@ticket.status) %>"></span>
            <%= t(@ticket.status) %>
          <% end %>
        </dd>

        <dt><%= t(:priority) %></dt>
        <dd>
          <% if can? :update, @ticket %>
            <a href="#" data-dropdown="priorities-<%= @ticket.id %>">
              <span class="priority-<%= @ticket.priority %> fa fa-fw fa-circle"></span>
              <%= t(@ticket.priority) %>
            </a>
            <%= render 'priority_dropdown', ticket: @ticket, short: false %>
          <% else %>
            <span class="priority-<%= @ticket.priority %> fa fa-fw fa-circle"></span>
            <%= t(@ticket.priority) %>
          <% end %>
        </dd>

        <dt><%= t(:assignee) %></dt>
        <dd>
          <% if can? :update, @ticket %>
            <a href="#" data-reveal-id="change-assignee">
              <% if !@ticket.assignee %>
                <span class="fa fa-fw fa-user"></span>
                <%= t(:unassigned) %>
              <% else %>
                <span class="fa fa-fw fa-user"></span>
                <%= @ticket.assignee.email %>
              <% end %>
            </a>
          <% else %>
            <% if !@ticket.assignee %>
              <span class="fa fa-fw fa-user"></span>
              <%= t(:unassigned) %>
            <% else %>
              <span class="fa fa-fw fa-user"></span>
              <%= @ticket.assignee.email %>
            <% end %>
          <% end %>
        </dd>

        <dt><%= t(:labels) %></dt>
        <dd>
          <% if can? :update, @ticket %>
            <ul data-labelings="" style="margin-left: 0">
              <% @ticket.labelings.each do |labeling| %>
                <%= render labeling %>
              <% end %>
            </ul>
            <%= form_for @labeling, remote: true do |f| %>
              <%= f.hidden_field :labelable_id %>
              <%= f.hidden_field :labelable_type %>

              <div class="row collapse">
                <div class="small-6 columns">
                  <%= f.fields_for :label, Label.new do |f| %>
                    <%= f.text_field :name, label: false, placeholder: t(:label_name) %>
                  <% end %>
                </div>
                <div class="small-6 columns">
                  <%= f.button t(:add), type: 'submit', class: 'button postfix' %>
                </div>
              </div>
            <% end %>
          <% else %>
            <ul class="inline-list">
              <% @ticket.labels.viewable_by(current_user).each do |label| %>
                <li><%= render label %></li>
              <% end %>
            </ul>
          <% end %>
        </dd>
      </dl>
    </div>

  </div>

</div>

<%= render 'change_assignee_form', { ticket: @ticket } %>
