<div class="row mt">
  <div class="large-12 columns">
    <h2>
      <%= !@ticket.subject.nil? ? @ticket.subject : '<em>(' + t(:no_subject) + ')</em>'.html_safe %>
    </h2>
    <h5 class="subheader text-secondary">
      <%= t(:ticket_by_at, email: @ticket.user.email, at: l(@ticket.created_at, format: :long)) %>
    </h5>
  </div>
</div>

<div class="row mt">
  <div class="large-9 columns">

    <% if @ticket.content.nil? %>
      (<%= t(:no_content) %>)
    <% else %>

      <div class="output">
        <% if @ticket.content_type == 'html' %>
          <% content = @ticket.content.html_safe %>
        <% elsif @ticket.content_type == 'text' %>
          <% content = @ticket.content.gsub("\n", '<br />') %>
        <% else %>
          <% content = @ticket.content %>
        <% end %>

        <%# only allow these tags and attributes %>
        <%= sanitize content, tags: %w(a b br code div em i img li ol p pre table td tfoot thead tr span strong ul), attributes: %w(src href) %>
      </div>
    <% end %>

    <% if @ticket.attachments.size > 0 %>
      <hr />
      <ul class="block-grid three-up attachments">
        <%= render @ticket.attachments %>
      </ul>
    <% end %>
  </div>

  <div class="large-3 columns">
    <dl>

      <% if can? :update, @ticket %>

        <dt><%= t(:status) %>:</dt>
        <dd>
          <a href="#" data-dropdown="statuses-<%= @ticket.id %>">
            <%= t(@ticket.status) %>
          </a>
          <%= render 'status_dropdown', ticket: @ticket %>
        </dd>
        <dt><%= t(:priority) %>:</dt>
        <dd>
          <a href="#" data-dropdown="priorities-<%= @ticket.id %>">
            <span class="priority-<%= @ticket.priority %> fa fa-circle"></span> <%= t(@ticket.priority) %>
          </a>
          <%= render 'priority_dropdown', ticket: @ticket, short: false %>
        </dd>
        <dt><%= t(:assignee) %>:</dt>
        <dd>
          <a href="#" data-reveal-id="change-assignee">
          <% if !@ticket.assignee %>
            <%= t(:unassigned) %>
          <% else %>
            <%= @ticket.assignee.email %>
          <% end %>
          </a>
        </dd>

      <% else %>

        <dt><%= t(:status) %>:<dt>
        <dd><%= t(@ticket.status) %></dd>
        <dt><%= t(:priority) %>:</dt>
        <dd><%= t(@ticket.priority) %></dd>
        <dt><%= t(:priority) %>:</dt>
        <dd>
          <% if !@ticket.assignee %>
            <em><%= t(:nobody) %></em>
          <% else %>
            <%= @ticket.assignee.email %>
          <% end %>
        </dd>

      <% end %>

    </dl>
  </div>

</div>

<div class="row">
  <div class="large-9 columns">
    <% if @ticket.replies.size > 1 %>
      <h3 class="mt"><%= t(:num_replies, count: (@ticket.replies.size - 1)) %></h3>
      <dl class="accordion" data-accordion>

        <% count = 0 %>
        <% @ticket.replies.chronologically.each do |reply| %>

            <%# minus 2, because @reply is a new ticket that is counted as well... %>
            <% if @ticket.replies.size - 2 == count %>
              <% div_class = 'content active' %>
            <% else %>
              <% div_class = 'content' %>
            <% end %>

          <dd>
            <a class="title" href="#reply-<%=reply.id%>">
              <h5><%= reply.user.email %> <small class="pull-right"><%= l reply.created_at, format: :short %></small></h5>
            </a>
            <div id="reply-<%=reply.id%>" class="<%= div_class %>">

              <% if reply.content_type == 'html' %>
                <% content = reply.content.html_safe %>
              <% elsif reply.content_type == 'text' %>
                <% content = reply.content.gsub("\n", '<br />') %>
              <% else %>
                <% content = reply.content %>
              <% end %>

              <%= sanitize content, tags: %w(a b br code div em i img li ol p pre table td tfoot thead tr span strong ul), attributes: %w(src href) %>
              <% if reply.attachments.size > 0 %>
                <hr />
                <ul class="block-grid three-up attachments">
                  <%= render reply.attachments %>
                </ul>
              <% end %>
            </div>
          </dd>

          <% count += 1 %>

        <% end %>

      </dl>
    <% end %>  
    <% if can? :create, @reply %>
      <%= render 'replies/form' %>
    <% end %>
  </div>
</div>

<%= render 'change_assignee_form', { ticket: @ticket } %>
