<div class="row collapse">
  <div class="large-4 hide-for-medium columns">
    <section class="tickets">
      <ul class="inline-list bb no-m">
        <li class="pal no-m"><input type="checkbox" value="" name="" class="no-mb mts" data-toggle-all=""></li>
        <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Assign</a></li>
        <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Close</a></li>
        <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Label</a></li>
        <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Prioritize</a></li>
        <li class="bl no-m"><a href="#" class="ptl plm prm pbl text-medium-light-grey">Remove</a></li>
      </ul>
      <div class="priority-medium row ticket bb ptm pbm" data-ticket-url="http://localhost:3000/tickets/191">
        <div class="medium-8 plxxl columns">
          <input type="checkbox" value="" name="" class="no-mb">
          <p class="no-mb plm">
            <span class="block text-overflow">delta@example.com</span>
            <a href="http://localhost:3000/tickets/191" class="text-overflow block">
              <strong>Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue.</strong>
            </a>
            <span style="background: #9d61dd" class="radius label" id="label-id-3">change-request</span>
          </p>
        </div>
        <div class="medium-4 columns">
          <p class="no-mb text-right">
            <span class="block">21 nov 15:29</span>
            <a data-assignee-id="1" href="#" class="text-default">agent@getbrimir.com</a>
          </p>
        </div>
      </div>
    </section>
  </div>
  <div class="large-8 medium-12 columns bl">
    <div class="row bb">
      <div class="medium-12 columns ptm pbm">
        <a class="pull-right mtm text-default" href="#print" onclick="window.print()"><%= fa_icon 'print' %></a>
        <h3 class="mt no-mb text-default">
          <%= !@ticket.subject.blank? ? @ticket.subject : '<em>(' + t(:no_subject) + ')</em>'.html_safe %>
        </h3>
        <h5 class="text-default mb no-mt">
          <%= t(:ticket_by_at, email: @ticket.user.email, at: l(@ticket.created_at.in_time_zone(current_user.time_zone), format: :long)) %>
        </h5>

        <ul class="no-m">
          <li class="ib no-ml mrl">
            <span class="fa fa-tag fa-fw ib"></span>
            <%= t(:ticket_id) %>: <%= @ticket.id %>
          </li>
          <li class="ib mrl">
            <% if can? :update, @ticket %>
              <a href="#" data-dropdown="statuses-<%= @ticket.id %>">
                <span class="fa fa-fw fa-<%= status_icon(@ticket.status) %> text-default"></span>
                <%= t(@ticket.status) %>
              </a>
              <%= render 'status_dropdown', ticket: @ticket %>
            <% else %>
              <span class="fa fa-fw fa-<%= status_icon(@ticket.status) %>"></span>
              <%= t(@ticket.status) %>
            <% end %>
          </li>
          <li class="ib mrl">
            <% if can? :update, @ticket %>
              <a href="#" data-dropdown="priorities-<%= @ticket.id %>">
                <span class="cc-priority-<%= @ticket.priority %> fa fa-fw fa-circle-o"></span>
                <%= t(@ticket.priority) %>
              </a>
              <%= render 'priority_dropdown', ticket: @ticket, short: false %>
            <% else %>
              <span class="priority-<%= @ticket.priority %> fa fa-fw fa-circle"></span>
              <%= t(@ticket.priority) %>
            <% end %>
          </li>
          <li class="ib mrl">
            <% if can? :update, @ticket %>
              <a href="#" data-reveal-id="change-assignee">
                <span class="fa fa-fw fa-user text-default"></span>
                <% if !@ticket.assignee %>
                  <%= t(:unassigned) %>
                <% else %>
                  <%= @ticket.assignee.email %>
                <% end %>
              </a>
            <% else %>
              <span class="fa fa-fw fa-user text-default"></span>
              <% if !@ticket.assignee %>
                <%= t(:unassigned) %>
              <% else %>
                <%= @ticket.assignee.email %>
              <% end %>
            <% end %>
          </li>
        </ul>
        <ul class="no-m">
          <li class="ib">
            <% if can? :update, @ticket %>
              <a href="#" data-reveal-id="add-labels" class="radius label secondary mrs text-light">
                <i class="fa fa-fw fa-plus"></i> <%= t(:add) %>
              </a>
            <% end %>
            <% @ticket.labelings.each do |labeling| %>
              <span data-labelings="" class="ib no-m">
                <%= render labeling %>
              </span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns ptxl pbxl">
        <% if @ticket.content.blank? %>
          (<%= t(:no_content) %>)
        <% else %>

          <div class="output">
            <% if @ticket.content_type == 'html' %>
              <% content = @ticket.content %>
            <% else %>
              <% content = text_to_html(@ticket.content) %>
            <% end %>

            <%= sanitize_html(content) %>
          </div>
        <% end %>

        <ul class="inline-list text-secondary">
          <li><%= t(:notification_sent_to) %></li>
          <% @ticket.notified_users.each do |user| %>
            <li><%= user.email %></li>
          <% end %>
        </ul>


        <% if @ticket.attachments.size > 0 %>
          <hr />
          <ul class="attachments">
            <%= render @ticket.attachments %>
          </ul>
        <% end %>
     </div>
    </div>

    <% if @ticket.replies.size > 1 %>
      <div class="row replies">
        <% count = 0 %>
        <% @ticket.replies.chronologically.each do |reply| %>

          <%# minus 2, because @reply is a new ticket that is counted as well... %>
          <% if @ticket.replies.size - 2 == count %>
            <% div_class = 'content active' %>
          <% else %>
            <% div_class = 'content' %>
          <% end %>

          <%= render reply, div_class: div_class %>


          <% count += 1 %>

        <% end %>
      </div>
    <% end %>

    <% if can? :create, @reply %>
      <%= render 'replies/form' %>
    <% end %>
  </div>
</div>

<% if can? :update, @ticket %>
  <div id="add-labels" class="reveal-modal small" data-reveal>
    <h3>Labels toewijzen</h3>
    <%= form_for @labeling, remote: true do |f| %>
      <%= f.hidden_field :labelable_id %>
      <%= f.hidden_field :labelable_type %>

      <%= f.fields_for :label, Label.new do |f| %>
        <%= f.text_field :name, label: false, placeholder: t(:label_name), class: 'select2-create' %>
      <% end %>
      <%= f.button t(:add), type: 'submit', class: 'tiny radius button mtm' %>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
<% end %>


<%= render 'change_assignee_form', { ticket: @ticket } %>
