<div class="row">
  <div class="nine columns">
    <div class="panel">
      <h1>
        <%= !@ticket.subject.nil? ? @ticket.subject : '(No subject)' %>
      </h1>
      <h5 class="subheader">By <a href="#"><%= @ticket.user.email %></a> on <%= l @ticket.created_at, format: :long %></h5>

      <% if @ticket.content.nil? %>
        (No content)
      <% else %>

        <% if @ticket.content_type == 'markdown' %>
          <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
          <% content = markdown.render(@ticket.content) %>
        <% elsif @ticket.content_type == 'text' %>
          <% content = @ticket.content.gsub("\n", '<br />') %>
        <% else %>
          <% content = @ticket.content %>
        <% end %>

        <%# only allow these tags and attributes %>
        <%= sanitize content, tags: %w(a b br code div em i img li ol p pre table td tfoot thead tr span strong ul), attributes: %w(src href) %>
      <% end %>

      <% if @ticket.attachments.size > 0 %>
        <hr />
        <ul class="block-grid three-up attachments">
          <%= render @ticket.attachments %>
        </ul>
      <% end %>
    </div>

    <% if @ticket.replies.size > 0 %>
      <ul class="accordion">

        <% count = 0 %>
        <% @ticket.replies.chronologically.each do |reply| %>

          <% if @ticket.replies.size - 2 == count %>
            <%# minus 2, because @reply is a new ticket that is counted as well... %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <div class="title">
              <h5><span class="label"><%= reply.user.email %></span> <small><%= l reply.created_at, format: :short %></small></h5>
            </div>
            <div class="content">

              <% if reply.content_type == 'markdown' %>
                <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
                <% content = markdown.render(reply.content) %>
              <% elsif reply.content_type == 'text' %>
                <% content = reply.content.gsub("\n", '<br />') %>
              <% else %>
                <% content = reply.content %>
              <% end %>

              <%= sanitize content, tags: %w(a b code div em i img li ol p table td tfoot thead tr span strong ul), attributes: %w(src href) %>
              <% if reply.attachments.size > 0 %>
                <hr />
                <ul class="block-grid three-up attachments">
                  <%= render reply.attachments %>
                </ul>
              <% end %>
            </div>
          </li>

          <% count += 1 %>

        <% end %>

      </ul>
    <% end %>

    <%= render 'replies/form' %>

  </div>

  <div class="three columns">    
    <ul class="side-nav">
      <li>
        Assignee:
        <a href="#" data-reveal-id="assign-ticket">
        <% if !@ticket.assignee %>
          Nobody
        <% else %>
          <%= @ticket.assignee.email %>
        <% end %>
        </a>
      </li>
      <li>Status:
        <a href="#" data-reveal-id="change-status">
          <%= @ticket.status.name %>
        </a>
      </li>
    </ul>
  </div>
</div>

<%= render 'change_assignee_form', { ticket: @ticket } %>
<%= render 'change_status_form', { ticket: @ticket } %>
