<div class="row">
  <div class="nine columns">

    <div class="panel">
      <h1>
        <%= @ticket.subject %>
      </h1>
      <h5 class="subheader">By <a href="#"><%= @ticket.user.email %></a> on <%= l @ticket.created_at, format: :long %></h5>

      <%= @ticket.content.html_safe %>

      <% if @ticket.attachments.size > 0 %>
        <hr />
        <ul class="block-grid three-up attachments">
          <%= render @ticket.attachments %>
        </ul>
      <% end %>
    </div>

    <% if @ticket.replies.size > 0 %>
      <ul class="accordion">

        <% @ticket.replies.each do |reply| %>

          <li>
            <div class="title">
              <h5><span class="label"><%= reply.user.email %></span> <small><%= l reply.created_at, format: :short %></small></h5>
            </div>
            <div class="content">
              <%= reply.content %>
              <% if reply.attachments.size > 0 %>
                <hr />
                <ul class="block-grid three-up attachments">
                  <%= render reply.attachments %>
                </ul>
              <% end %>
            </div>
          </li>

        <% end %>

      </ul>
    <% end %>
    
    <ul class="button-group radius">
      <li>
        <a class="button regular radius" data-reveal-id="reply-ticket">Add reply</a>
      </li>
    </ul>

  </div>
  <div class="three columns">
    <ul class="side-nav">
      <li>
        Assignee:
        <a href="#" data-reveal-id="assign-ticket">
        <% if !@ticket.assignee %>
          Nobody
        <% else %>
          <%= @ticket.assignee.email %>
        <% end %>
        </a>
      </li>
      <li>Status:
        <a href="#" data-reveal-id="change-status">
          <%= @ticket.status.name %>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="reply-ticket" class="reveal-modal large">
  <h3>Write your reply</h3>
  <%= form_for @reply, remote: true do |r| %>
    <%= r.hidden_field :ticket_id, value: @ticket.id %>
    <%= r.text_area :content, placeholder: 'Type your reply. The client will receive this reply via email.' %>
    <%= r.submit value: 'Send reply', class: 'button' %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<%= render 'assign_form', { ticket: @ticket } %>
<%= render 'change_status_form', { ticket: @ticket } %>
