<div class="row mt">
  <div class="medium-8 large-6 columns medium-centered">
    <div class="panel paxl">
      <h3 class="mb"><%= t(:sign_in) %> in Brimir</h3>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <%= f.label :email %>
        <div class="row collapse">
          <div class="small-1 columns">
            <span class="prefix"><i class="fa fa-user"></i></span>
          </div>
          <div class="small-11 columns">
            <%= f.email_field :email, label: false %>
          </div>
        </div>

        <%= f.label :password %>
        <div class="row collapse">
          <div class="small-1 columns">
            <span class="prefix"><i class="fa fa-lock"></i></span>
          </div>
          <div class="small-11 columns">
            <%= f.password_field :password, label: false %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
        <% end -%>

        <%= f.submit(t(:sign_in), class: 'button radius no-mb mtm') %>

        <%= render 'devise/shared/links' %>

        <% unless Rails.application.secrets[:google_client_id].blank? %>
          <br/>
          <h4><%= t(:omniauth_sign_in_title) %></h4>

          <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
            <i class="fa fa-google-plus-square"></i>
            <%= t(:omniauth_sign_in_google) %>
          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
