<%= form_for @email_template do |f| %>
  <div class="row mt">
    <div class="large-6 columns">
      <%= f.text_field :name, tabindex: tabindex %>
      <%= f.select :kind, EmailTemplate.kinds.keys.map { |k| [k.humanize, k] }, {}, tabindex: tabindex %>
      <%= f.label :message do %>
        <%= t('activerecord.attributes.email_template.message') %>
        <%= content_tag :span, content_tag(:i, '', class: 'fa fa-info-circle'),
          data: { tooltip: '' }, class: 'has-tip', title: t(:tooltip) %>
      <% end %>
      <%= f.trix_editor :message, label: false, tabindex: tabindex %>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns bt">
      <%= f.submit t(:save), class: 'success button radius mtl' %>
    </div>
  </div>
<% end %>
