<li>
  <%= active_elem_if :a, params[:status] == 'open' &&
      params[:assignee_id].to_i == 0,
      href: root_path do %>

    <%= status_icon 'open' %>
    <%= t(:inbox) %>
    <span class="right heading-six bubble pls prs">
      <%= Ticket.viewable_by(current_user).open.count %>
    </span>
  <% end %>
</li>
<% if current_user.agent? %>
  <li>
    <%= active_elem_if :a, params[:status] == 'open' &&
        params[:assignee_id].to_i == current_user.id,
        href: tickets_path(assignee_id: current_user.id), class: 'plxxl' do %>
      <%= status_icon 'open', assigned_to_me: true %>
      <%= t(:mine) %>
      <span class="right heading-six bubble pls prs">
        <%= Ticket.viewable_by(current_user).open.filter_by_assignee_id( current_user.id).count %>
      </span>
    <% end %>
  </li>
<% end %>
<li>
  <%= active_elem_if :a, params[:status] == 'waiting',
      href: tickets_path(status: 'waiting') do %>
    <%= status_icon 'waiting' %>
    <%= t('activerecord.attributes.ticket.statuses.waiting') %>
    <span class="right heading-six bubble pls prs">
      <%= Ticket.viewable_by(current_user).waiting.count %>
    </span>
  <% end %>
</li>
<li>
  <%= active_elem_if :a, params[:status] == 'closed',
       href: tickets_path(status: 'closed') do %>
    <%= status_icon 'closed' %><%= t(:closed_tickets) %>
  <% end %>
</li>
<li>
  <%= active_elem_if :a, params[:status] == 'deleted',
      href: tickets_path(status: 'deleted') do %>
    <%= status_icon 'deleted' %><%= t(:trashed) %>
  <% end %>
</li>

