<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
      
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'Brimir' %></title>

    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag    "application" %>    
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="<%= root_path %>">
                Brimir
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="">
              <span>Menu</span>
            </a>
          </li>
        </ul>

        <section class="top-bar-section">
          
          <% if user_signed_in? %>

            <ul class="left">
              <li>
                <%= link_to 'All tickets', root_path %>
              </li>
            </ul> 

            <ul class="right">
              <li class="has-dropdown active">
                <a href="#"><%= current_user.email %></a>
                <ul class="dropdown">
                  <li>
                    <%= link_to 'Settings', edit_user_path(current_user) %>
                  </li>
                  <li>
                    <%= link_to 'Sign out', :destroy_user_session, method: :delete %>
                  </li>
                </ul>
              </li>
            </ul>

          <% end %>

        </section>

      </nav>
    </div>
 
    <% if notice %>
        <div class="row">
          <div class="large-12 columns">
              <div class="alert-box success"><%= notice %><a href="#" class="close">&times;</a></div>
          </div>
        </div>
    <% end %>
    <% if alert %>
        <div class="row">
          <div class="large-12 columns">
              <div class="alert-box alert"><%= alert %><a href="#" class="close">&times;</a></div>
          </div>
        </div>
    <% end %>
    
    <%= yield %>

    <div class="reveal-modal" data-reveal>
      <article>
      </article>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <%= javascript_include_tag "foundation" %>
    <script>$(document).foundation();</script>

  </body>
</html>
