<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : 'Brimir' %></title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' %>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if user_signed_in? %>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="<%= root_path %>">Brimir</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <% if can? :manage, Rule %>
                <li><a href="<%= rules_path %>"><%= t(:rules) %></a></li>
            <% end %>
            <% if can? :manage, User %>
                <li><a href="<%= users_path %>"><%= t(:users) %></a></li>
            <% end %>
            <li class="has-dropdown">
              <a href="#"><%= current_user.email %></a>
              <ul class="dropdown">
                <li><%= link_to '<i class="fa-cogs fa fa-fw"></i> Persoonlijke instellingen'.html_safe, edit_user_path(current_user) %></li>
                <li><%= link_to '<i class="fa-sign-out fa fa-fw"></i> Uitloggen'.html_safe, :destroy_user_session, method: :delete %></li>
              </ul>
            </li>
          </ul>        
          <!-- Left Nav Section -->
          <ul class="left">
            <li><%= link_to t(:new_ticket), new_ticket_path %></li>
          </ul>
        </section>
      </nav>
    <% end %>

    <div class="row collapse">
      <% if user_signed_in? %>
        <aside class="hide-for-small medium-3 large-2 columns">
          <ul class="off-canvas-list">
            <li><label>Main</label></li>
            <li>
              <%= active_elem_if :a, params[:status] == 'open' &&
                  params[:assignee_id].to_i == 0,
                  href: root_path do %>

                <span class="fa fa-inbox"></span><%= t(:inbox) %>
              <% end %>
            </li>
            <li>
              <%= active_elem_if :a, params[:status] == 'open' &&
                  params[:assignee_id].to_i == current_user.id,
                  href: tickets_path(assignee_id: current_user.id) do %>
                <span class="fa fa-user"></span><%= t(:mine) %>
              <% end %>
            </li>
            <li>
              <%= active_elem_if :a, params[:status] == 'closed',
                   href: tickets_path(status: 'closed') do %>
                <span class="fa fa-check"></span><%= t(:closed_tickets) %>
              <% end %>
            </li>
            <li>
              <%= active_elem_if :a, params[:status] == 'deleted',
                  href: tickets_path(status: 'deleted') do %>
                <span class="fa fa-trash-o"></span><%= t(:trashed) %>
              <% end %>
            </li>
          </ul>

          <ul class="off-canvas-list">
            <li><label>Tags</label></li>
            <% colors = ['de6262', '65a8dd', '6fc681', '9d61dd', '6370dd', 'dca761', 'a86f72', '759d91', '727274']  %>
            <% @labels.each do |label| %>
              <%
                # toggle label on/off
                if params[:label_id].to_i == label.id
                  p = params.merge(label_id: nil)
                else
                  p = params.merge(label_id: label.id)
                end
              %>
              <li>
                <a href="<%= tickets_url(p) %>"<%= ' class="active"'.html_safe if params[:label_id].to_i == label.id %>>
                  <i class="fa fa-square" style="color: #<%= colors.sample %>"></i><%= label.name %>
                </a>
              </li>
            <% end %>
          </ul>
        </aside>
        <div class="medium-9 large-10 columns" style="background: #fff; min-height: 100vh;">
      <% else %>
        <div class="medium-9 large-10 columns medium-centered large-centered">
      <% end %>

        <% if notice %>
          <div data-alert class="notification alert-box success"><%= notice %><a href="#" class="close">&times;</a></div>
        <% end %>
        <% if alert %>
          <div data-alert class="notification alert-box alert"><%= alert %><a href="#" class="close">&times;</a></div>
        <% end %>

        <%= yield %>

      </div>
    </div>

    <div class="reveal-modal" data-reveal>
      <article>
      </article>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <%= javascript_include_tag 'application' %>

  </body>
</html>
