<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
      
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'Brimir' %></title>
    
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' %>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row collapse">
      <% if user_signed_in? %>
        <aside class="medium-3 large-2 columns">
          <div style="padding: 30px 0.66667rem 10px 0.66667rem">
            <%= link_to 'New ticket', new_ticket_path, class: 'button expand radius' %>
          </div>
          <ul class="off-canvas-list">
            <li><%= link_to '<span class="fa fa-inbox"></span>Inbox'.html_safe, root_path, class: 'active' %></li>
            <li><%= link_to '<span class="fa fa-user"></span>Mine'.html_safe, tickets_path(params.merge(assignee_id: current_user.id)) %></li>
            <li><a href="#"><span class="fa fa-check"></span>Closed</a></li>
            <li><a href="#"><span class="fa fa-trash-o"></span>Trashed</a></li>
            <li><%= link_to '<span class="fa fa-archive"></span>All'.html_safe, root_path %></li>
          </ul>

          <p class="text-secondary text-center mt">
            <%= current_user.email %><br />
            <%= link_to '<i class="fa-cogs fa"></i>'.html_safe, edit_user_path(current_user), class: 'text-secondary' %>
            <%= link_to '<i class="fa-sign-out fa"></i>'.html_safe, :destroy_user_session, method: :delete, class: 'text-secondary' %> 
          </p>
        </aside>
      <% end %>
      <div class="medium-9 large-10 columns">

        <% if notice %>
          <div class="row">
            <div class="large-12 columns">
                <div class="alert-box success"><%= notice %><a href="#" data-alert class="close">&times;</a></div>
            </div>
          </div>
        <% end %>
        <% if alert %>
          <div class="row">
            <div class="large-12 columns">
                <div class="alert-box alert"><%= alert %><a href="#" data-alert class="close">&times;</a></div>
            </div>
          </div>
        <% end %>

        <%= yield %>

      </div>
    </div>

    <div class="reveal-modal" data-reveal>
      <article>
      </article>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <%= javascript_include_tag "application" %>



  </body>
</html>
